<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account Page</title>
    <link rel="stylesheet" th:href="@{/css/account.css}">
    <link rel="stylesheet" th:href="@{/css/head.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">

    <!-- 用户信息 -->
    <div class="user-info">
        <h2>用户信息</h2>
        <p><strong>用户名：</strong><span th:text="${user.username}"></span></p>
        <p><strong>邮箱：</strong><span th:text="${user.email}"></span></p>
        <p><strong>电话：</strong><span th:text="${user.phone}"></span></p>
        <a class="btn" th:href="@{/TransRecord}">查看交易记录</a>
    </div>

    <!-- 我发布的商品 -->

    <h2>我发布的商品</h2>
    <main class="product-grid">
        <!-- 商品卡片循环 -->
        <div class="product-card"
             th:each="product : ${product_list}"
             th:onclick="|location.href='/seller-product/${product.id}'|">
            <img th:src="@{${product.image}}" alt="商品图片">
            <h3 th:text="${product.name}">商品名称</h3>
            <p th:text="'￥' + ${product.price}">价格</p>
        </div>
    </main>
</div>
</body>
</html>
