<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>二手物品交易平台</title>
<!--    <link rel="stylesheet" th:href="@{/css/style.css}">-->
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/head.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<main class="product-grid">
    <!-- 商品卡片循环 -->
    <div class="product-card"
         th:each="product : ${productList}"
         th:onclick="|location.href='/product/${product.id}'|">
    <img th:src="@{${product.image}}" alt="商品图片">
    <h3 th:text="${product.name}">商品名称</h3>
    <p th:text="'￥' + ${product.price}">价格</p>
    </div>
</main>

<footer>
    <p>© 2025 二手物品交易平台</p>
</footer>
</body>
</html>
