<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.name} + ' - 商品详情'">商品详情</title>
    <link rel="stylesheet" th:href="@{/css/product-edit.css}">
    <link rel="stylesheet" th:href="@{/css/head.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">

    <!-- 商品图片 -->
    <form action="/updateProduct" method="post">
    <div class="product-detail">
        <input type="hidden" name="id" th:value="${product.id}">

        <p><strong>商品名:</strong>
            <input type="text" id="name" name="name" th:value="${product.name}">
        </p>
        <p><strong>价格(¥)：</strong>
            <input type="number" id="price" name="price" th:value="${product.price}">
        </p>
        <img th:src="@{${product.image}}" alt="Product Image" class="product-image"/>
        <p><strong>分类：</strong>
            <select id="category" name="category" required>
                <option value="">请选择分类</option>
                <option value="电子产品">电子产品</option>
                <option value="书籍">书籍</option>
                <option value="生活用品">生活用品</option>
                <option value="服装">服装</option>
                <option value="其他">其他</option>
            </select>
        </p>
        <p><strong>新旧程度：</strong>
            <select id="condition" name="condition" required>
                <option value="">请选择成色</option>
                <option value="全新">全新</option>
                <option value="九成新">九成新</option>
                <option value="八成新">八成新</option>
                <option value="较旧">较旧</option>
            </select>
        </p>
        <p><strong>状态：</strong> <span th:text="${product.status}"></span> </p>
        <p><strong>描述：</strong></p>
        <textarea style="box-sizing: border-box; width: 100%; height: 100px; resize: none;" id="description" name="description" th:text="${product.description}"></textarea>

        <button type="submit">更新产品</button>
        <button th:onclick="'takeOffProduct(' + ${product.id} + ')'" type="button">下架产品</button>
        <button th:onclick="'removeProduct(' + ${product.id} + ')'" type="button">移除产品</button>
    </div>
    </form>
    <!-- 已有评价 -->
    <div class="reviews-list">
        <h3>已有评价</h3>
        <div th:if="${#lists.isEmpty(evaluates)}">暂无评价</div>
        <div th:each="eval : ${evaluates}" class="review-item">
            <p th:text="${eval.username}" style="font-weight: bold">用户</p>
            <p th:text="${eval.content}">评价内容</p>
        </div>
    </div>

</div>
</body>
<script th:src="@{/js/product.js}"></script>
</html>
